/*Universal styles*/
html {
  font-size: 18px;
}
body {
  background-color: black;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  color: white;

}
a {
  color: white;
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}

/*Header styles*/
header {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  width: 960px;
  padding: 0.66rem 0;
  margin: 0 auto;
}
.logo {
  height: 1.5rem;
  width: auto;
  margin-left: 0.5rem;
}
.companyName {
  margin-left: 1rem;
  text-transform: uppercase;
}
/*Banner styles*/
.banner {
  height: 25rem;
  width: 960px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;
}

.bannerBG {
  background-image: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.announce {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 20rem;
  height: auto;
  background-color: black;
  margin: 0;
  padding-left: 3rem;
  padding-top: 2rem;
}

.title {
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.announcement {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
/*Menu styles*/
.navBG {
  background-color: firebrick;
  width: 100%;
}

nav {
  width: 960px;
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
}

/*Main styles*/

main {
  background-color: white;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 3rem;
}

.products {
  width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.product {
  width: 30%;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product img {
  height: 9rem;
  width: auto;
  padding: 2rem 0;
}

.product-caption {
  background-color: black;
  width: 100%;
  padding: 0.5rem 0;
  text-align: center;
}

.about {
  width: 960px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 3rem;
}

.details {
  width: 35%;
}

.title {
  padding: 1rem 0 1rem 2rem;
  background-color: black;
}

.info {
  color: black;
}
/*Footer styles*/
footer {
  width: 960px;
  height: 5rem;
  text-align: left;
  margin: 0 auto;
  padding-top: 4rem;
}
